.font-fresca {
  font-family: 'Fresca', sans-serif;
}

.font-indie-flower {
  font-family: 'Indie Flower', cursive;
}

.font-dosis {
  font-family: 'Dosis', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-gloria-hallelujah {
  font-family: 'Gloria Hallelujah', cursive;
}

.vivid-orchid {
  color: #ca3cff;
}

.light-pastel-purple {
  color: #b4a0e5;
}

.aero-blue {
  color: #caffd0;
}

body {
  background: black;
}

.jumbotron {
  background: lightblue;
}

.jumbotron h1 {
  color: #ca3cff;
  font-family: 'Shadows Into Light', cursive;
}

.btn, .abcRioButtonContentWrapper, .jumbotron a {
  color: #ca3cff;
  background: #003366;
}

.content-box {
  border: 8px solid #003366;
  border-radius:15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  background: #1e1014;
  font-size: 120%;
}

.new-item-btn:hover {
  text-decoration: none;
}

.bottom-form-neighbor {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.form-group label {
  color: #b4a0e5;
}

label {
  font-family: 'Dosis', sans-serif;
}

.g-signin2 {
  margin-top: 20px;
}

h2 {
  color: #b4a0e5;
}

.a-sans-decoration, .a-sans-decoration:hover {
  text-decoration: none;
  color: inherit;
}

.a-sans-decoration:hover {
  font-size: 105%;
}
