{% extends "base.html" %}
{% block head %}
  <link href="https://fonts.googleapis.com/css?family=Dosis|Fresca|Gloria+Hallelujah|Indie+Flower|Roboto+Mono|Shadows+Into+Light" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1 class="font-roboto-mono">ItemCatalog</h1>
      <p class="login-buttons">
      {% if email %}
        <a id="logout-btn" class="btn btn-default" href="/logout" role="button">Logout</a>
      {% else %}
        <a class="btn btn-default" href="/login" role="button">Login</a>
      {% endif %}
      </p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <h2 class="font-indie-flower">Categories</h2>
          {% for category in categories %}
            <p class="font-fresca categories"><a class="category-item-btn" href="/items/{{ category.id }}">{{ category.name }}</a></p>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h2 class="font-gloria-hallelujah">Items</h2>
          {% if email %}
            <h6 class="font-roboto-mono"><a class="new-item-btn" href="/newitem" role="button">New Item</a></h6>
          {% endif %}
          {% for item in items %}
            <p class="font-dosis items"><a class="category-item-btn" href="/item/{{ item.id }}">{{ item.name }}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    {% include 'logout.js' %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
