{% extends "base.html" %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1 class="font-roboto-mono">ItemCatalog</h1>
      <p>
      {% if email %}
        <a id="logout-btn" class="btn btn-default" href="/logout" role="button">LOGOUT</a>
      {% else %}
        <a class="btn btn-default" href="/login" role="button">LOGIN</a>
      {% endif %}
      </p>
    </header>
    <div class="row">
      <div class="col-md-6">
        <div class="content-box">
          <h2 class="font-indie-flower">Categories</h2>
          {% for category in categories %}
            <p class="font-fresca aero-blue"><a class="a-sans-decoration" href="/items/{{ category.id }}">{{ category.name }}</a></p>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
          <h2 class="font-gloria-hallelujah">Items</h2>
          {% if email %}
            <h6 class="font-roboto-mono"><a class="new-item-btn" href="/newitem" role="button">NEW ITEM</a></h6>
          {% endif %}
          {% for item in items %}
            <p class="font-dosis aero-blue"><a class="a-sans-decoration" href="/item/{{ item.id }}">{{ item.name }}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    {% include 'logout.js' %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
