{% extends "base.html" %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1>ItemCatalog</h1>
      <p>
      {% if email %}
        <a id="logout-btn" class="btn btn-default" href="/logout" role="button">LOGOUT</a>
      {% else %}
        <a class="btn btn-default" href="/login" role="button">LOGIN</a>
      {% endif %}
      </p>
    </header>
    <div class="row">
      <div class="col-md-12">
        <div class="content-box">
          <p class="h1 light-pastel-purple font-gloria-hallelujah"><a class="a-sans-decoration" href="/items/{{ item.category.id }}">{{ item.category_name }}</a> <span class="vivid-orchid">&rarr;</span> {{ item.name }}</p>
          <p class="h2 aero-blue font-roboto-mono">{{ item.description }}</p>
          {% if email == item.user_email %}
          <div>
            <a class="btn btn-default" href="/item/{{ item.id }}/edit" role="button">EDIT</a>
            <a class="btn btn-default" href="/item/{{ item.id }}/delete" role="button">DELETE</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    {% include "logout.js" %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
