{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1>ItemCatalog</h1>
    <p class="login-buttons">
      <a id="logout-btn" class="btn btn-default" href="/logout" role="button">LOGOUT</a>
    </p>
  </header>
  <form class="row content-box" method="post" action="/item/{{ item.id }}/delete">
    <div class="col-md-12">
      <p class="h2 aero-blue">
        Are you sure you want to delete <strong class="light-pastel-purple">{{ item.name }}</strong> in category <strong class="light-pastel-purple">{{ item.category_name }}</strong>?
      </p>
      <button type="submit" class="btn btn-default">YES</button>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script>
    {% include "logout.js" %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
