{% extends "base.html" %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1>ItemCatalog</h1>
      <p class="login-buttons">
      {% if email %}
        <a id="logout-btn" class="btn btn-default" href="/logout" role="button">Logout</a>
      {% else %}
        <a class="btn btn-default" href="/login" role="button">Login</a>
      {% endif %}
      </p>
    </header>
    <div class="row">
      <div class="col-md-12">
        <h1>{{ item.name }}</h1>
        <h2>Description</h2>
        <p>{{ item.description }}</p>
        <h2>Category</h2>
        <p>{{ item.category_name }}</p>
      </div>
    </div>
    {% if email == item.user_email %}
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-default" href="/item/{{ item.id }}/edit" role="button">Edit</a>
        <a class="btn btn-default" href="/item/{{ item.id }}/delete" role="button">Delete</a>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
{% block js %}
  <script>
    {% include "logout.js" %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
