{% extends "base.html" %}
{% block head %}
  <meta name="google-signin-client_id" content="1079849348157-0oqrbkk9rj24k79vcni7e2tu8p081t3a.apps.googleusercontent.com">
{% endblock %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1 class="font-roboto-mono">ItemCatalog</h1>
    </header>
    <div class="content-box">
      <form method="post" action="/login" class="login-form">
        <p class="h2 form-hints">Log in with your email</p>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="h3" for="input-email">Email</label>
            <input type="email" class="form-control" id="input-email" name="email">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label class="h3" for="input-password">Password</label>
            <input type="password" class="form-control" id="input-password" name="password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">LOGIN</button>
          </div>
        </div>
      </form>
      <div id="google-button" class="row bottom-form-neighbor">
        <div class="col-md-12">
          <p class="h2 form-hints">... or log in with Google</p>
          <div class="g-signin2" data-scope="openid email" data-onsuccess="onSignIn"></div>
        </div>
      </div>
      <div class="row bottom-form-neighbor">
        <div id="register-div" class="col-md-12">
          <p class="h2 form-hints">... or create an account<p>
          <a class="btn btn-primary h1" href="/register" role="button">REGISTER</a>
        </div>
        <div id="login-div" class="col-md-12 hidden">
          <p class="h2 form-hints">... or log in if you already have an account<p>
          <a class="btn btn-primary h1" href="/login" role="button">LOGIN</a>
        </div>
      </div>
      <div id="err-msg">
      </div>
    </div>
  </div>
{% endblock %}
{% block js  %}
  <script>
    {% include "login.js" %}
  </script>
{% endblock %}
