{% extends "base.html" %}
{% block content %}
  <div class="container" style="margin-top: 40px;">
    <form method="post" action="/login" class="login-form">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="input-email">Email</label>
          <input type="email" class="form-control" id="input-email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="input-password">Password</label>
          <input type="password" class="form-control" id="input-password" name="password">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="g-signin2" data-scope="openid email" data-onsuccess="onSignIn"></div>
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <p>Don't have an account yet?<p>
        <a class="btn btn-primary h1" href="/register" role="button">Register</a>
      </div>
    </div>
    <div id="err-msg">
    </div>
  </div>
{% endblock %}
{% block js  %}
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('profile = ' + JSON.stringify(profile));
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if (xhr.status === 200) {
          window.location.href = '/';
        } else {
          var div = document.getElementById('err-msg');
          div.innerHTML = '<p>Unable to signin via Google</p>';
        }
      };
      xhr.onerror = function() {
        var div = document.getElementById('err-msg');
        div.innerHTML = '<p>Unable to signin via Google</p>';
      };
      xhr.open('POST', '/glogin', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('token=' + id_token);
    }
  </script>
{% endblock %}
