{% extends "base.html" %}
{% block head %}
  <meta name="google-signin-client_id" content="1079849348157-0oqrbkk9rj24k79vcni7e2tu8p081t3a.apps.googleusercontent.com">
  <style>
    .hidden {
      display: none;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <header class="jumbotron">
      <h1 class="font-roboto-mono">ItemCatalog</h1>
    </header>
    <form method="post" action="/login" class="login-form">
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="input-email">Email</label>
          <input type="email" class="form-control" id="input-email" name="email">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="input-password">Password</label>
          <input type="password" class="form-control" id="input-password" name="password">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
    <div class="g-signin2" data-scope="openid email" data-onsuccess="onSignIn"></div>
    <hr>
    <div class="row">
      <div id="register-div" class="col-xs-6">
        <p>Don't have an account yet?<p>
        <a class="btn btn-primary h1" href="/register" role="button">Register</a>
      </div>
      <div id="login-div" class="col-xs-6 hidden">
        <p>Already have an account?<p>
        <a class="btn btn-primary h1" href="/login" role="button">Login</a>
      </div>
    </div>
    <div id="err-msg">
    </div>
  </div>
{% endblock %}
{% block js  %}
  <script>
    function onSignIn(googleUser) {
      console.log('called onSignIn()');
      var profile = googleUser.getBasicProfile();
      var id_token = googleUser.getAuthResponse().id_token;
      $.post('/glogin', 'token=' + id_token)
        .done((data, textStatus, xhr) => {
          if (xhr.status === 200) {
            console.log('redirecting to main page');
            window.location.replace('/');
          } else {
            console.log('Received non-success response with status=' + xhr.status);
            $('#err-msg').html('<p>Unable to signin via Google</p>');
          }
        })
        .fail((data, textStatus, err) => {
            console.log('Post request failed with error ' + err);
            $('#err-msg').html('<p>Unable to signin via Google</p>');
        });
    }

    $('#register-div a:first').click(e => {
      console.log('entered register handler');
      e.preventDefault();
      $('.g-signin2').addClass('hidden');
      $('#register-div').addClass('hidden');
      $('#login-div').removeClass('hidden');
      $('form').attr('action', '/register');
      $('button').text('Register');
    });

    $('#login-div a:first').click(e => {
      console.log('entered login handler');
      e.preventDefault();
      $('.g-signin2').removeClass('hidden');
      $('#register-div').removeClass('hidden');
      $('#login-div').addClass('hidden');
      $('form').attr('action', '/login');
      $('button').text('Login');
    });
  </script>
{% endblock %}
