{% extends "base.html" %}
{% block content %}
<div class="container">
  <header class="jumbotron">
    <h1>ItemCatalog</h1>
    <p class="login-buttons">
      <a id="logout-btn" class="btn btn-default" href="/logout" role="button">LOGOUT</a>
    </p>
  </header>
  <form class="content-box" method="post" action={% if item %}"/item/{{ item.id }}/edit"{% else %}"newitem"{% endif %}>
    <p class="form-hints h2">{{ 'Edit the item' if item else 'Create a new item!' }}</p>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="title" class="h3">Item Name</label>
        <input id="title" type="text" class="form-control input-lg" name="title" value="{{ item.name if item }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="description" class="h3">Description</label>
        <textarea id="description" class="form-control input-lg comment-input" name="description">{{ item.description if item }}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="category" class="h3">Category <span class="h4 aero-blue">select other to create category</span></label>
        <select id="category" name="category" class="form-control input-lg">
          {% if item %}
          <option value="{{ item.category_name }}">{{ item.category_name }}</option>
          {% endif %}
          {% for category in categories %}
          <option value="{{ category.name }}">{{ category.name }}</option>
          {% endfor %}
          <option value="other">other</option>
        </select>
      </div>
    </div>
    <div id="newcategory-row" class="row">
      <div class="form-group col-md-6">
        <label for="newcategory" class="h3">New Category Name <span class="h4 aero-blue">may not create other</span></label>
        <input id="newcategory" type="text" class="form-control input-lg" name="newcategory">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-default form-control">SUBMIT</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block js %}
  <script>
    {% include "newitem.js" %}
    {% include "logout.js" %}
  </script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
{% endblock %}
